% import x

<form
  id="frm_user"
  autocomplete="off"
>

<div>
  <label for="">
  <span>Gender</span>

  </label>
    <select name="user_gender" id="user_gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="no-gender">No-gender</option>
    </select>
</div>

    <div>
        <label for="">
        <span>Username</span>
        <span>{{x.USER_FIRST_NAME_MIN}} to {{x.USER_FIRST_NAME_MAX}}</span>
        </label>
        <input
        mix-check="{{x.USER_USERNAME_REGEX}}"            
        name="user_username"
        type="text"
          />
    </div>

  <div>
    <label for="">
      <span>first name</span>
      <span>{{x.USER_FIRST_NAME_MIN}} to {{x.USER_FIRST_NAME_MAX}}</span>
    </label>
    <input
      mix-check="{{x.USER_FIRST_NAME_REGEX}}"
      name="user_first_name"
      type="text"
    />
  </div>
  <div>
    <label for="">
      <span>last name</span>
      <span>{{x.USER_LAST_NAME_MIN}} to {{x.USER_LAST_NAME_MAX}}</span>
    </label>
    <input
      mix-check="{{x.USER_LAST_NAME_REGEX}}"
      name="user_last_name"
      type="text"
    />
  </div>
  <button
    mix-post="/users"
    mix-data="#frm_user"
    mix-default="Create user"
    mix-await="Please wait..."
  >
    Create
  </button>
</form>
